@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

#home {
    background-image: url("https://images.pexels.com/photos/6823571/pexels-photo-6823571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 50px;
}

#firstPage {

    margin: auto;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif
}

#button-login {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
    max-height: 100%;
    font-size: 70px;
    gap: 60px;
    margin-left: 60px;
    margin-top: 5%;
    margin-bottom: 27%;





}

#ButtonFirst {
    display: block;
    border-radius: 10px;
    color: rgb(15, 1, 1);
    border: 1px solid black;
    text-decoration: none;


}

#ButtonFirst:hover {
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    ;


}


#sectionFooter {

    text-align: center;
    width: 100%;

}

#Footer {

    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 11%);

    margin-bottom: 0;
    color: white;
    gap: 40px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#icon {
    text-decoration: none;

}

#card {
    display: flex;
}

#cardPaitent {


    margin-top: 30px;
    margin-bottom: 30px;


}

#cardQuestion {
    height: 200px;
    margin-top: 30px;
    overflow: auto;
    border: 1px solid #ccc;

}

#cardRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.artical {
    display: flex;
    flex-direction: column;

    opacity: 0.9;
}

.container1 {
    position: fixed;
    left: 80%;
    display: flex;
    flex-direction: column;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.705);
    width: 300px;
    padding-top: 260px;
    height: 800px;

}

.paitentProfile {
    background-color: rgb(81, 138, 160);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 50px;

}